Repository samtmorgan/super-potato: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0

should fail
  .eslintrc.json
  .lintstagedrc.json
Due: prettier --write

should fail
  .husky/pre-commit
Due: none

should fail
  .husky/pre-commit
  package.json
Due: prettier --write

should fail
  .husky/pre-push
  .lintstagedrc
  .lintstagedrc.json
  package.json
Due: prettier --write

should fail
  .lintstagedrc
  src/context/AppContext.tsx
Due: prettier --write, eslint --max-warnings=0

should fail
  .lintstagedrc
  package.json
  src/context/AppContext.tsx
Due: prettier --write, eslint --max-warnings=0

should fail
  .lintstagedrc
  package-lock.json
  package.json
  src/context/AppContext.tsx
Due: prettier --write, eslint --max-warnings=0

should pass
  .lintstagedrc
  src/context/AppContext.tsx
Due: prettier --write, eslint --max-warnings=0

feat: add weather alert component
  __test__/PageContent.test.js
  __test__/utils/renderWithContext.js
  src/api/api.ts
  src/components/Alerts.tsx
  src/components/Location.tsx
  src/components/PageContent.tsx
  src/types/types.ts
  tsconfig.json
Due: prettier --write, eslint --max-warnings=0

feat: add weather alert component
  __test__/PageContent.test.js
Due: none

feat: add weather alert chip and model
  __test__/PageContent.test.js
  package-lock.json
  package.json
  src/api/api.ts
  src/app/globals.css
  src/components/Alerts.tsx
  src/components/PageContent.tsx
  src/types/types.ts
Due: prettier --write, eslint --max-warnings=0

Update README.md
  README.md
Due: prettier --write

imporve modal
  src/app/globals.css
  src/components/Alerts.tsx
  src/components/Modal.tsx
  src/types/types.ts
Due: prettier --write, eslint --max-warnings=0

chore: remove dep, add comment
  package-lock.json
  package.json
  src/components/Alerts.tsx
  src/components/Modal.tsx
Due: prettier --write, eslint --max-warnings=0

add --noEmit
  package.json
Due: prettier --write

add --notEmit
  src/components/Alerts.tsx
Due: prettier --write, eslint --max-warnings=0

remove tsc-files invocation in pre-commit
  .lintstagedrc
Due: none

add tsc invocation to pre-commit hook
  .lintstagedrc
Due: none

finish
  .lintstagedrc
  src/components/Alerts.tsx
  tsconfig.json
Due: prettier --write, eslint --max-warnings=0

feat: improve search results UI
  src/components/PageContent.tsx
  src/components/input/LocationInput.tsx
  src/context/AppContext.tsx
Due: prettier --write, eslint --max-warnings=0

feat: display multiple alert chips
  __test__/PageContent.test.js
  src/components/Alerts.tsx
Due: prettier --write, eslint --max-warnings=0

feat: add day min-max temp
  __test__/DayTempRange.test.js
  __test__/PageContent.test.js
  __test__/utils/renderWithContext.js
  src/api/api.ts
  src/components/Alerts.tsx
  src/components/DayTempRange.tsx
  src/components/PageContent.tsx
  src/types/types.ts
Due: prettier --write, eslint --max-warnings=0

feat: add houly rain forecast
  __test__/HourPrecipitation.test.tsx
  __test__/utils/renderWithContext.js
  package-lock.json
  package.json
  src/api/api.ts
  src/app/page.tsx
  src/components/CurrentWeather.tsx
  src/components/DayTempRange.tsx
  src/components/HourPrecipitation.tsx
  src/components/Location.tsx
  src/components/Modal.tsx
  src/components/PageContent.tsx
  src/components/input/LocationInput.tsx
  src/context/AppContext.tsx
  src/types/types.ts
  src/utils/weatherAssets.ts
  tsconfig.json
Due: prettier --write, eslint --max-warnings=0

feat: add houly rain forecast
  __test__/LocationInput.test.js
Due: none

fix: grid lines
  src/components/HourPrecipitation.tsx
Due: prettier --write, eslint --max-warnings=0

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,scss,md}
  eslint --max-warnings=0: any of: *.{ts,tsx}
